.name-input {
  opacity: 0;
  animation: fadeInUp 1s 1s;
  animation-fill-mode: forwards;
}

.email-input {
  opacity: 0;
  animation: fadeInUp 2s 2s;
  animation-fill-mode: forwards;
}

.message-input {
  opacity: 0;
  animation: fadeInUp 3s 3s;
  animation-fill-mode: forwards;
}

// .contact-form {
//     width: 100%;
//     margin-top: 20px;
  
//     ul {
//       padding: 0;
//       margin: 0;
  
//       li {
//         padding: 0;
//         margin: 0;
//         list-style: none;
//         margin-bottom: 10px;
//         opacity: 0;
//         overflow: hidden;
//         display: block;
//         clear: both;
//         position: relative;
//         animation: fadeInUp 1.5s 1.5s;
//         animation-fill-mode: forwards;
//       }
  
//     }
  
//     input[type='text'],
//     input[type='email'] {
//       width: 100%;
//       border: 0;
//       background: #fff;
//       height: 50px;
//       font-size: 16px;
//       color: #070600;
//       padding: 0 20px;
//       box-sizing: border-box;
//     }
  
//     textarea {
//       width: 100%;
//       border: 0;
//       background: #fff;
//       height: 50px;
//       font-size: 16px;
//       color: #070600;
//       padding: 20px;
//       box-sizing: border-box;
//       min-height: 150px;
//     }
  
//   }
  
  
  