/**** SOCIAL ICON BUTTONS ****/

.icon-btn {
    margin: 0 0.5rem;
    color: white;
    position: relative !important;
    display: inline-block !important;
    width: 50px !important;
    height: 50px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2.4em !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
}

.icon-btn:hover {
    color: white;
}

.twitter {
    background-color: #1DA1F2 !important;
}

.linkedin {
    background-color: #0072b1;
}

.github {
    background-color:  #BD2C00;
}

.gmail {
  background-color: #0F9D58
}